
.box{
    border: 1px solid red;
    width: 100px; padding: 10px;
}

.flexbox1{
    display: flex; 
    /* 하위 요소에 대해 */
    border: 1px solid blue;
    width: 250px; 
    /* 각 자식들이 100px * 3 = 300px */
    flex-wrap: nowrap; 
    /*기본값: 하위 요소가 넘치면 자동으로 하위 요소들 크기 조정 */
}

.flexbox2{
    border: 1px solid blue;
    display: flex; flex-wrap: wrap; 
    /* 하위 요소들이 넘치면 자동 줄바꿈 */
}

.flexbox3{
    border: 1px solid blue;
    display: flex; 
    flex-direction: row; 
    /* row(기본값): 하위 요소 가로 배치 */
}

.flexbox4{
    border: 1px solid blue;
    display: flex; 
    flex-direction: column; 
    /* column: 하위 요소 세로 배치 */
}
.flexbox5{
    border: 1px solid blue;
    display: flex; 
    justify-content: flex-start;
}

.flexbox6{
    border: 1px solid blue;
    display: flex; 
    justify-content: flex-end
}
.flexbox7{
    border: 1px solid blue;
    display: flex; 
    justify-content: center;
}
.flexbox8{
    border: 1px solid blue;
    display: flex; 
    justify-content: space-between;
    /* 양 끝 여백 없이 사이 여백 균등 가로 정렬*/
}
.flexbox9{
    border: 1px solid blue;
    display: flex; 
    justify-content: space-around;
    /* 사이 여백 균등 가로 정렬 */
}
.flexbox10{
    border: 1px solid blue;
    display: flex; 
    justify-content: space-evenly;
    /* 양 끝 여백 포함 사이 여백 균등 가로 정렬 */
}