/*1. 전체 레이아웃 설정: 화면 중앙 정렬 및 배경색*/
body{
    text-align: center; 
    display: flex;
    flex-direction: column; /*세로 방향으로 배치*/
    padding-top: 40px;
    align-items: center; /*가로 중앙 정렬*/
    background-color: #f0f2f5; /* 배경색 */
}
/* 2. 로고 이미지 영역*/
.이미지{
    width: 250px;
    margin-bottom: 40px;
}
/* 3. 폼 박스*/
.all{
    padding: 20px ;
    border-radius: 8px; /* 모서리 둥글게*/
    width: 432px;
    background-color: white; /*폼 배경색*/
    text-align: left; /*내부 글자 왼쪽 정렬 */
}
/*4. 헤더 영역(가입하기 제목 및 하단 선) */
.헤더{
    border-bottom: 1px solid #cccccc; /*아래 구분선*/
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-align: center;
}
.text1 h3{
    font-size: 32px;
    margin: 0;
}
/*5. 입력창 및 선택창 공통 스타일 */
input[type="text"], input[type="password"], input[type="name"], select{
    width: 100%; /* 너비 채우기*/
    margin: 5px 0px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    box-sizing: border-box; /*패딩 포함 너비 계산 */
    padding: 11px;
    background-color: #f5f6f7;
    font-size: 14px;
}
/*레이블 텍스트(생일,성별 문구) */
.birthday, .gender{
    font-size: 12px;
    color: #606770;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: normal;
}
/*7. 생일 선택 영역(년/월/일 가로 배치) */
.생일{
    display: flex;
  
}
.생일 select{
    margin-right: 5px; /* 선택창 사이 간격*/
}
/*8. 이름 입력 영역(성/이름 가로 배치) */
.성함{
    margin-right: 5px;
}
.이름{
    display: flex;
}
/* 9. 성별 선택 라디오 버튼 영역*/
.성별{
    display: flex;
    padding: 10px;
    
}
.남자,.여자,.direct{
    flex:1; /* 가로 길이를 똑같이 나누어 가짐*/
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between; /*텍스트와 체크 박스 양 끝으로 배치 */
}
.남자,.여자{
    margin-right: 5px;
}
/*10. 가입하기 버튼 스타일 */
.가입하기{
    display:block; /* 한 줄 차지*/
    width: 100px;
    background-color: green; /*초록색 버튼*/
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin: 20px auto;
    
}
/*11. 링크 및 하단 푸터 영역 스타일*/
a{
    color: blue;
    text-decoration: none; /*밑줄 제거*/
}
.language,.copy{
    align-items: center;
    color: rgb(115,115, 115);
    display: flex;
    flex-wrap: wrap; /*창이 좁아지면 아래로 줄바꿈*/
    font-size: 12px;
    padding-top: 8px;
    width: 980px; /*푸터 넓이*/
    list-style: none; /*리스트 점 제거*/
    gap: 10px;
    border-bottom: 1px solid #cccccc;
}
/*안내 문구 및 로그인 링크 영역*/
.text3, .text4{
    font-size: 12px;
    color: #606770;
    margin-top: 10px;
}
.already,.가입하기{
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}