
/* ============== 전체 영역 ============== */
#wrap{
    width: 960px; /* 가로 사이즈 */ 
    margin: 0 auto; /* 구역 가로 가운데 */
    border-radius: 20px;  /* 둥근모서리*/
    box-shadow: 0 10px 10px #eeeeee; /*그림자*/
    padding: 50px; /* 안쪽 여백 */
}
/* ============== 상단/입력 영역 ============== */
#top{
    display: flex; /* 하위 배치 방법 */
    justify-content: space-around; /* 하위 요소들 가로 균등 배치*/
    align-items: center;  /* 하위 요소들 세로 배치*/
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 50px; padding: 30px 0px;
}
#top > input , #top > select { /* 선택자A , 선택자B */
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #eeeeee;
}
#top > button {
    background-color: blue; color: white;
    border: none; border-radius: 5px;
    padding: 10px 20px; font-weight: bold;
}
/* ============== 메인/테이블 영역 ============== */
#main > table {
    width: 100%;
    border-collapse: collapse; /* 이중 테두리 하나의 테두리 병합*/
}
#main > table th {
    background-color: #eeeeee;
    padding: 15px;
    border-bottom: 1px solid #c6c6c6;
}
#main > table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #c6c6c6;
}
#main > table button {
    padding: 10px 15px; border: none;
    border-radius: 10px; font-weight: bold;
}
#main > table .deleteBtn{ background-color: pink; color: red; }
#main > table .updateBtn{ background-color: skyblue; color: blue; }