.title{
font-family: "맑은 고딕","굴림";
font-size:40px;
font-weight: bold;
font-style: italic; 
}
/*외부폰트 1.영문: 구글 2.한문: 눈누*/
@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
.content{
    font-family:'GMarketSans' ;
    color: purple;
    word-spacing: 10px; /* 단어 간격: 어간 */
    letter-spacing: 10px; /*글자 간격: 자간 */
    line-height: 100%; /*줄간격: % 백분율 */
}
.writer{
    text-align:center ; /*마크업 안에 있는 content 내용 가로 정렬 */
    text-decoration: underline overline line-through;
    text-shadow: 5px 5px 5px gray; /* 텍스트 그림자 : x축(+right -left) y축(+bottom -top) */
    color : green; /*방법 1: */
    color: rgb(140,200,100); /* 방법 2 : */
    color: #000000; /*방법3 : 헥스코드( 6자릿수로 16진수 코드)*/
}
