h5{color:yellow;}

/* 주석 범위 지정 후 컨트롤 /
/* 1.전체 선택자*/
*{font-size:20px}

/* 2. 마크업 선택자 */
h6{font-size:15px;}

/* 3.클래스 선택자: 동일한 마크업들 간의 식별자*/
.개그맨{font-size:10px;}

/* 4. 아이디 선택자: 동일한 마크업들 간의 유일 식별자*/
#주민등록번호{font-size:5px}

/* 다중 선택자 : ,쉼표 구분자 */
h4,h5 {font-family: 궁서;}

/* 자식 선택자 : 상위 선택자 > 하위 선택자 */
div > h3{font-family: 맑은 고딕;}

/* 자손 선택자: 상위선택자 하위 모든 선택자*/
div h4{font-family: 굴림 ; }