*{font: size 20px;}
h1 {font-family: 궁서;
    font-style: italic;}
div {color: blue; 
    font-weight: bold; 
    word-spacing: 10px;
    letter-spacing: 5px;
    line-height: 150%;}
.writer{
    text-shadow:0px,0px,5px;
     font-weight: bold;
     text-decoration: underline overline line-through; 
     color: red; 
     text-align: center;}
