
li{
    list-style-type: none;
}
#header{
    background-color: beige;
}
#header > ul{
    display: flex;
    justify-content: center;
}
.menu{
    padding: 10px 20px;
    position: relative; /*하위 요소의 위치 기준점*/
}
.submenu{
    position: absolute;
    top: 40px; left: 8px;
    padding: 5px;
    background-color: beige;
    display:none; /* 배치 방법 : none 숨기기*/
}

/* 만일 menu에 hover(마우스를 올렸을때) 했을때  */
.menu:hover .submenu{display: block;}

#header2{background-color: skyblue;
}
#header2 > ul {
    display: flex;
    justify-content: center;
    position: relative; /*하위 요소의 기준점*/
}

#header2 > ul> li{padding: 10px;}

.submenu2{
    position: absolute; /*가장 가까운 부모가 position 기준*/
    width: 100%;
    background-color:skyblue;
    top: 40px;
    display: none;
}
#header2>ul:hover ,submenu2{display: block;}
*{padding: 0px; margin: 0px;}

