/*작업용 */
*{
    border: solid 1px red;
    margin: 10px;
}
.s1{
    display: inline;/*표기 방법*/
    width: 100px; height: 100px; /* 사이즈 불가능*/
    margin: 10px; padding: 10px;/*여백 불가능*/
}
.s2{
    display: block;
    width: 100px; height: 100px;/*사이즈 가능 */
    margin: 20px; padding: 20px; /* 여백 가능*/
}
.s3{
    display: inline-block;
    width: 100px; height: 100px;   /*사이즈 가능 */
    margin: 50px; padding:60px;    /* 여백 가능*/
}