.pro{
    color: yellow;
}
.box{
    padding: 20px 20px 20px 20px;
    background-color: rgb(26, 105, 124);
    color: white;
}
.boxs{
      padding: 20px 20px 20px 20px;
    background-color: rgb(26, 105, 124);
    color: white;
}
.ver{
       color: yellow;
}
.yee{
    color:rgb(226, 226, 32);
}